body{
    background-color: #EE9972;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    flex:3;
}
main{
    width: 80%;

    height:80%;
    margin-top:10%;
    margin-left: 10%;
    margin-right:10%;
    background-color: #EDEFEE;
    border:1px solid #EDEFEE;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 6px 6px 0 0;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:center;
}


nav{
    background-color:#495E57; 
    width:80%;
    min-height:45px;
    border:solid 3px #F4CE14;
    outline:solid 3px #333333;
    border-radius:6px;
    margin:0px auto;
    display:flex;
    align-content: center;
    text-align: center;
    
}

nav > a{
    color:white;
    background-color:#495E57;
    border:1px solid #495E57;
    width: 100px;
    margin: 10px 10px 10px 10px;
    padding:10px;
    text-align: center;
    text-decoration: none;

}
nav > a:hover{
    background-color: #F4CE14;
    color:#333333;
    border:1px solid #F4CE14;
    border-radius: 6px;
}

.large-item{
    margin-top:20px;
    margin: 5% 5% 5% 5%;
    border:solid 6px #495E57;
    border-radius:6px;
    background-image:url(images/photos/mussels-bruschetta-hero.jpg);
    background-color: #495E57;
    background-position: right;
    background-repeat:no-repeat;
    background-color:#495E57;
    outline: 6px solid #F4CE14;
    text-shadow:2px 2px #333333;
    width: 90%;
    height:20%;
    min-height: 450px;
    font-weight:bold;
    text-align:center;
    flex-grow: 3;
}

.large-item >h1{
    color:#F4CE14;
    text-shadow: 2px 2px #333333;
}
.large-item > p{
    color:#F4CE14;
    text-shadow: 2px 2px #333333;
    
}
.item{

    min-height:450px;
    margin:1% 2% 0% 2%;
    width:25%;
    border: solid 4px #F4CE14;
    border-radius:  6px;
    background-position: center;
    background-size: cover;
}
.item:hover{
    background-color: #F4CE14;
    background-image: none;
    border:solid 4px #495E57;
    border-radius: 6px;
    color:#495E57
}
.item > p{
    color:#F4CE14;
    font-size:16pt;
    font-weight:bold;
    text-shadow: 2px 2px 4px #000000;
    padding:5px;
    text-align: center;
}
.item > p:hover{
    color:#333333;
    font-size:16pt;
    font-weight:bold;
    text-shadow: none;
    padding:5px;
    text-align: center;
}
.item-book{
    background-image:url("images/assets/item-book-opaque.png");
    align-self: flex-end;
    flex: 1;

}
.item-menu{
    background-image:url("images/assets/item-meun-opaque.png");
    align-self:flex-start;
    flex: 1;
}
.item-hours{
    background-image:url("images/assets/item-hours-opaque.png");
    align-self: center;
    flex: 1;
}

footer{

    width: 80%;
    margin: 0% 10% 0% 10%;
    /*height:80%;*/
    background-color: #EDEFEE;
    display:flex;
    flex-direction: row;
    align-content: center;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 0 6px 6px;
}

footer >article{
    align-self: center;
    text-align: center;
    width:50%;
    margin:0px auto;
    padding:15px 0px 15px 0px;
}
.footer-txt > label{
    margin:0px auto;
    font-weight: bold;
    font-style: italic;

}
#footer-logo{
    height:130px;
    width:100px;
}